[alias]
    a = add
    af = add -f
    aa = add .
    b = branch
    bd = branch -D
    cm = commit -m
    c = commit
    co = checkout
    cob = checkout -b
    d = diff
    f = fetch
    pl = pull
    s = status
    ps = push

[color]
	ui = true

[core]
	editor = vim
