[user]
    name    = khalilmasri
    email   = khalil.1996km@gmail.com

[alias]
    g       = git
    ga      = git add
    gaa     = git add . 
    gaf     = git add -f
    gst      = git status
    gcm     = git commit -m
    gm      = git commit
    gps     = git push
    gpl     = git pull
    a       = add
    af      = add -f
    aa      = add .
    b       = branch
    bd      = branch -D
    cm      = commit -m
    c       = commit
    co      = checkout
    cob     = checkout -b
    d       = diff
    f       = fetch
    pl      = pull
    s       = status
    ps      = push

[color]
	ui      = true

[core]
	editor  = vim
